$pageMinWidth: 1000px;

$colorYellow: #FFE600;
$colorBlack: #000000;
$colorDarkGrey: #999999;
$colorSilver: #EEEEEE;
$azulBoton: #3483FA;

$headerHeight: 44px;
$searchboxheight: 30px;

$itemPageImgMaxSize: 680px;